@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
  180deg,
  hsl(0deg 0% 0%) 0%,
  hsl(240deg 6% 4%) 11%,
  hsl(240deg 12% 8%) 22%,
  hsl(240deg 20% 11%) 33%,
  hsl(240deg 29% 14%) 44%,
  hsl(240deg 38% 16%) 56%,
  hsl(240deg 50% 18%) 67%,
  hsl(240deg 64% 19%) 78%,
  hsl(240deg 80% 20%) 89%,
  hsl(240deg 100% 20%) 100%
);
  overflow-x: visible;
  overflow-y: visible;
}

body{
  font-family: 'Roboto';

}

.App {
  padding: 2%;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*/


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, th, td{
border: 2px solid;
border-collapse: collapse;
}
th, td{
  text-align:left;
  padding: 5px;
}
td{
  white-space: normal;  
  word-wrap: break-word;
}

.funHeading{
  color: #dfdfdf;
  font-size: 124px;
  background: -webkit-linear-gradient(#6082B6, #191f22);
  text-shadow: #FC0 5px 0 10px;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0%;
  padding:0%;
  margin-bottom:0%;

}

button{
  background-color:transparent;
  background: none;
	border:none;
}


/* https://codepen.io/thelittleblacksmith/pen/zXNVvY */
.fancyLink {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #ff8cbc;
  transition: all 0.25s linear;
  position: relative;
}

.fancyLink:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #61a3ff;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

.fancyLink:hover:before {
  transform: scale(1);
}

.undecoratedLink{
  color: inherit;
  text-decoration: none;
}

#currentBlockInfo{
  display:inline;
}

#loginObject{
  font-size:0.5em;
}

.GeneralPage{
padding:2%;  
}

.navLink{
 text-decoration: none; 
 color: #dfdfdf;
}

.fa-bookmark{
color:white;  
}

.tableLabel{
font-weight: bolder;
}

.tableExternalIcon{
height: 1.2em;
max-height: 1.2em;
padding-left: 2px;
padding-right: 2px;
}